<div>
    <h1>Message:</h1>
    <p>{{message}}</p>
</div>
<div>
    <h1>Color chose:</h1>
    <p>Color: <span style="color: {{color}};"> {{color}}</span></p>
    <p>Click change: <a href="/?color=red">/?color=red</a></p>
</div>

<div>
    <h1>Userid (cookies)</h1>
    <p>{{userid}}</p>
    <p><a href="/set-random-userid">set random userid</a></p>
</div>
<div>
    <h1>UserName (session)</h1>
    <p>{{username}}</p>
    <p><a href="/set-random-username">set random username</a></p>
</div>